.detailed-transaction-container{
  width: 80%;
  position: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-div-btn {
  cursor: pointer;
  span{
    display: inline-block;
    vertical-align: middle;
  }

}


